.House, .Material{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 271px;
    height: 295px;
    align-items: center;
}

.House img, .Material img{
    position: absolute;
    z-index: -1;
    padding-bottom: 9px;
}

.name_house p, .name_material p{
    border-radius: 15px;
    background: rgba(248, 248, 248, 0.50);
    width: 194px;
    height: 44px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 9px;

}

.House button, .Material button{
    width: 194px;
    height: 44px;   
    border-radius: 15px;
    border: 1px solid rgba(244, 185, 33, 0.70);
    background: #F4B921;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
}

.ggg h2{
    display: flex;
    padding-left: 40%;
    font-size: 18px;
    padding-bottom: 20px;
}
.ServiceHouse{
    width: 100%;
}

.wraphouse{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.Services{
    margin-left: 7%;
    margin-bottom: 10%;
    
}

.ServiceMaterial{
    padding-top: 40px;
}

.form{
    display:flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom:40px;
    gap: 15px;
    
}


.form input{
    font-size: 18px;
    border: 2px solid purple;
}

.form p{
    font-size: 20px;
}

.form input:focus {
    outline: none;
    border-color: rgb(255, 30, 30);
    box-shadow: 0 0 5px rgba(193, 13, 13, 0.717);}

.form button{
    width: 20%;
    margin-right: auto;
    height: 28px;
    border-radius: 15px;
}