.wrapper_footer{
    width: 1470px;
    height: 149px;
    position: relative;
}

.footer_png {
    display: inline;
    object-fit: fill
}

.footer_png img{
    width: 1470px;
    height: 149px;
    position: absolute;
}

.footer_up{
    margin-top: 8px;
    display: flex;
}

.text_footer p{
    font-size: 16px;
    font-weight: 300;
    text-indent: 10%;
    margin-bottom: 3px;
}

.text_footer h1{
    font-size: 28px;
    font-weight: 600;
}

.text_footer{
    margin-top: 10px;
}

.footer_down p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;

}

.logo_footer{
    width: 75px;
    height: 76px;   
    margin-right: 25px;
}

.footer_down{
    margin-top: 12px;
}
